server:
  port: 8081

spring:
  mail:
    host: smtp.gmail.com
    username: trung03trung@gmail.com
    password: yhzztttnihpqlclt
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: DB1
    password: 123456

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.OracleDialect

  cache:
    type: redis
  redis:
    host: localhost
    port: 6379
    timeout: 60

application:
  security:
    jwt:
      secretKey: de6aaeabadeccc598160172044da9c566242ae3b
      tokenValidityMilliseconds: 86400000
      rememberMeTokenValiditySeconds: 25920000000

